.cta {
	margin-bottom: 40px;
	h4 {
		margin: 0 auto;
		background-color: #727376;
		border: 2px solid #727376;
		color: #fff;
		text-align: center;
		padding: 5px 15px;
		border-radius: 20px;
		width: 200px;
		font-weight: 400;
	}
	a{
		background-color: #727376;
		text-decoration: none;
		color: #fff;
		:hover {
			background-color: transparent;
			border: 2px solid #727376;
			color: #727376;
		}
	}

}

