.flip-container {
  display: inline-block;
  width: 100%;
  perspective: 1000;
}

.flip-container .flipper:hover , .flip-container .flipper.hover {
  transform: rotateY(180deg);
}

.flip1, .flip2, .flip3 {
  float: left;
  position: relative;
  width: 33.33%;
  height: 250px;
  color: white;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.flip1 {
  background: #ff5758;
}

.flip2 {
  background: #01bfd5;
}

.flip3 {
  background: #fb8a30;
}

.front, .back {
  position: absolute;
  float: left;
  top: 0;
  left: 0;

  backface-visibility: hidden;

}


.front {
  z-index: 2;
  width:100%;
  transform: rotateY(0deg);
}

.front p{
  font-size: 2em;
  margin:100px auto;
  text-align: center;
}

.back {
  z-index: 2;
  width:100%;
  transform: rotateY(180deg);
}

.back p{
  margin:80px 50px;
}

/*end flippers*/