.page-grooming-tips {

	// * {
	// 	box-sizing: border-box;
	// 	-webkit-box-sizing: border-box;
	// }

	// .clearfix:after {
	// 	content: "";
	// 	display: table;
	// 	clear: both;
	// }


	// html, body{
	// 	width:100%;
	// 	font-family: 'Lato', sans-serif;
	// }

	// ul{
	// 	list-style:none;
	// }

	// header ul{
	// 	float:left;
	// 	margin: 49px 0px;
	// 	width: auto;
	// 	display:none;
	// }

	// header li{
	// 	/*float:left;*/
	// 	display:inline;
	// 	padding:20px 30px;
	// 	color:#ff7406;
	// 	font-size: 20px;
	// }

	// header{
	// 	position:relative;
	// 	width:100%;
	// 	height:75px;
	// 	z-index: 1000;
	// 	background-color: black;
	// }

	// .page-wrap{
	// 	width:90%;
	// 	margin: 0 5%;
	// }

	// .schick-logo{
	// 	display: block;
	// 	width:41.4545%;
	// 	height:60px;
	// 	float: left;
	// 	margin-top: 10px;
	// }

	// .mobile-navigation-menu{
	// 	float: right;
	// 	margin-top: 15px;
	// }

	// .mobile-menu-line{
	// 	width: 37px;
	// 	height: 3px;
	// 	border-radius: 1px;
	// 	background-color: white;
	// 	margin: 8px auto;
	// }

	// .mobile-menu{
	// 	position: absolute;
	// 	background-color: black;
	// 	width: 100%;
	// 	top:-100%;
	// 	transition:.3s;
	// 	z-index: 999;

	// }
	// .mobile-menu.expand{
	// 	top: 75px;
	// 	height: 100vh;
	// }

	// .mobile-menu li{
	// 	list-style-type: none;
	// 	font-size: 25px;
	// 	margin: 27px;
	// 	color: white;
	// }

	.content{
		position: relative;
		height: 150px;
		color:white;
		line-height: 2;
		font-size: 30px;
		color: #434344;
		overflow: hidden;
		transition: .3s;

	}

	.content div {
		padding-left: 10%;
	}

	h1 {
		text-transform: uppercase;
		font-size: 2rem;
		padding: 52px 0%;
	}

	.p-content {
	  width: 50%;
    line-height: 18px;
    position: absolute;
    right: 10%;
    font-size: 14px;
    top: 150px;
  }

	.content-image {
		float: left;
		top: 45%;
		width: 80%;
	}

	.splash img {
		width: 50%;
	}

	.content.expand{
		height: auto;
		width: 100%;
		transition: 1s;
		padding-bottom: 150px;
	}

	.cleansing-section  {
	  background-image: -moz-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
		@media only screen and (min-width: 768px) {
			width: 100%;
		}
	}

	.applying-shaving-cream-section {
		background-color:#93f8e2;
		width: 100%;
	}

	.shaving-techniques-section{
		background-image: -moz-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		width: 100%;
	}


	// footer {
	// 	position: relative;
	// 	background-color: grey;
	// 	width: 100%;
	// 	height: 345px;
	// 	color: white;
	// }

	// footer p {
	// 	padding: 3%;
	// 	margin: 0 auto;
	// 	position: absolute;
	// 	top: 40%;
	// }

	// @media screen and (min-width: 768px){

	// 	.content-section{
	// 		display:none;
	// 	}

	// }

}