.page-grooming-tips {
	.header-container {
		position: relative;
		height: auto;
		float: left;
		width: 100%;

		@include tablet {
			height: 240px;
		}
	 	.by-line_med {
			width: 70%;
			float: left;
			padding: 20px;
			height: 100% !important;

			a {
				float: left;
			    line-height: 200px;
			    @include tablet {
			    	width: 30%;
			    }

			}
			.copy {
				float: left;
				padding-left: 40px;
				width: 65%;
				padding-top: inherit;
				h1 {
					margin-bottom: 0;
					font-size: 2.5em;
					font-variant: small-caps;
				    font-weight: 300;
				}
				h4 {
					margin: 0;
					padding-right: 10%;
					font-weight: 300;
					font-size: 1.3em;
				}

				.logo-1 {
					width: 28%;
    				left: 8px;
				}

			}
	 	}
	}


	.content{
		width: 100%;
		height: 150px;
		color: white;
		line-height: 2;
		font-size: 30px;
		color: #434344;
		overflow: hidden;
		transition: .3s;
		display: block;

		.content-copy {
			width: 50%;
			float: right;
			position: relative;
			padding-right: 10px;
		}
		h1{
			font-size: 22px;
			text-transform: uppercase;
			padding-top: 25px;
			&.cleansing {
				padding-top: 52px;
			}
		}

	}

	.content-section p {
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 5%;
		float: right;
		opacity: 0;
	    font-weight: 100;
	  	transition: .25s ease;
	}

	.content-image {
		width: 50%;
		float: left;
		position: relative;
		img {
			top: 16px;
			position: absolute;

			&#splash {
			    width: 260px;
			    left: -122px;
			    @include tablet {
			    	width: 360px;
			    }
			}
			&#cream {
			    width: 105px;
			    left: 3px;
			    @include tablet {
			    	width: 205px;
			    }
			}
			&#razor {
			    width: 95px;
			    left: 2px;
			    @include tablet {
			    	width: 195px;
			    }
			}
		}
	}

	.content.expand{
		height: auto;
		min-height: 350px;
		width: 100%;
		transition: 1s;

		.content-copy p {
			opacity: 1;
		}
	}

	.cleansing-section  {
	  background-image: -moz-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(212,253,250) 0%, rgb(239,250,249) 0%, rgb(248,249,249) 50%, rgb(212,253,250) 100%);
	}

	.applying-shaving-cream-section {
		background-color:#93f8e2;
		width: 100%;
	}

	.shaving-techniques-section{
		background-image: -moz-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(233,251,249) 0%, rgb(255,255,255) 50%, rgb(233,251,249) 100%);
		width: 100%;
	}



}