.page-grooming-tips .content {
  position: relative;
  height: 150px;
  color: white;
  line-height: 2;
  font-size: 30px;
  color: #434344;
  overflow: hidden;
  transition: .3s; }
.page-grooming-tips .content div {
  padding-left: 10%; }
.page-grooming-tips h1 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 52px 0%; }
.page-grooming-tips .p-content {
  width: 50%;
  line-height: 18px;
  position: absolute;
  right: 10%;
  font-size: 14px;
  top: 150px; }
.page-grooming-tips .content-image {
  float: left;
  top: 45%;
  width: 80%; }
.page-grooming-tips .splash img {
  width: 50%; }
.page-grooming-tips .content.expand {
  height: auto;
  width: 100%;
  transition: 1s;
  padding-bottom: 150px; }
.page-grooming-tips .cleansing-section {
  background-image: -moz-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%);
  background-image: -webkit-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%);
  background-image: -ms-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%); }
  @media only screen and (min-width: 768px) {
    .page-grooming-tips .cleansing-section {
      width: 100%; } }
.page-grooming-tips .applying-shaving-cream-section {
  background-color: #93f8e2;
  width: 100%; }
.page-grooming-tips .shaving-techniques-section {
  background-image: -moz-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  background-image: -webkit-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  background-image: -ms-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  width: 100%; }
