.back img {
  opacity: .5; }

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.center {
  margin: 0 auto;
  text-align: center; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.menu {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 3px solid currentColor;
  width: 30px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .menu::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .menu:before {
    content: "";
    display: block;
    border-bottom: 3px solid currentColor;
    width: 100%;
    margin-bottom: 7px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .menu:after {
    content: "";
    display: block;
    border-bottom: 3px solid currentColor;
    width: 100%;
    margin-bottom: 7px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.hamburger {
  display: none; }

.hamburger:checked ~ .menu {
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out; }
  .hamburger:checked ~ .menu:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .hamburger:checked ~ .menu:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.navigation {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; }
  @media only screen and (max-width: 767px) {
    .navigation {
      max-height: 0; } }

.hamburger:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out; }

a {
  color: inherit; }

small {
  font-size: 14px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0; }
  li a {
    text-decoration: none; }
    li a:hover {
      color: #72fdd4;
      text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .logo-1 {
    position: relative;
    top: 10px;
    left: 20px;
    padding-bottom: 20px; }

  #categories {
    position: relative;
    top: -38px; }

  #membership {
    position: relative;
    top: 170px; }

  .by-line_med {
    display: none; }

  .by-line_sm {
    display: block;
    padding: 20px 10px;
    background-color: #fff;
    color: #434344;
    text-align: center; }
    .by-line_sm h1 {
      margin: 0 0 5px 0;
      font-size: 4rem;
      font-variant: small-caps;
      font-weight: 300;
      line-height: 30px; }
    .by-line_sm h4 {
      margin: 0;
      font-weight: 200;
      font-size: 18px; }

  figure {
    width: 100%;
    margin: 0;
    padding: 20px 20px 1px;
    display: block;
    -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out; }
    figure .back {
      display: none; }
    figure img {
      width: 78.5%;
      margin: 2px 40px 0;
      display: none; }
    figure h4, figure h5, figure h2, figure p {
      color: #515454; }
    figure h4 {
      font-weight: bold; }
    figure .icon {
      display: inline; }
      figure .icon :hover {
        color: #3BA9A9;
        text-decoration: none; }
    figure .icon-dots {
      margin: 0;
      position: relative;
      left: 85%; }

  .slideshow {
    width: 85%; }

  footer {
    background-color: #515454; }
    footer .logo {
      display: none; }
    footer ul {
      padding: 0; }
      footer ul li {
        display: inline-block; }
    footer .legal {
      display: none; }
    footer .social {
      width: 100%;
      text-align: center;
      padding: 5%; }
      footer .social li {
        margin: 0 2%; }
      footer .social a {
        color: #fff;
        font-size: 5rem;
        text-decoration: none; }
        footer .social a:hover {
          color: #72fdd4; }
    footer p {
      font-weight: lighter;
      margin: 0;
      text-align: center;
      padding-bottom: 20px; } }
@media only screen and (min-width: 768px) {
  header {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
    width: 22.13541666%;
    height: 240px; }
    header#gallery-header {
      height: 0;
      padding-bottom: 26.0416666667%; }
    header .icon-box {
      right: 10px; }
    header nav {
      width: 100%;
      margin: 0;
      padding-left: 23px; }
      header nav ul {
        line-height: 1em; }
      header nav #membership {
        padding: 1.1em 0; }
      header nav #categories {
        line-height: .8em; }
    header .menu {
      display: none; }

  .logo-1 {
    display: none; }

  #gallery {
    display: inline; }
    #gallery .by-line_sm {
      display: none; }
    #gallery .by-line_med {
      color: #434344; }
      #gallery .by-line_med .logo-2 {
        float: left;
        width: 20%;
        margin: 4%; }
      #gallery .by-line_med .copy {
        display: inline-block;
        width: 53.3854166667%;
        margin: 4% 0; }
      #gallery .by-line_med h1 {
        margin: 0;
        font-size: 3.5em;
        font-variant: small-caps;
        font-weight: 300; }
      #gallery .by-line_med h4 {
        margin: 0;
        padding-right: 10%;
        font-weight: 300;
        font-size: 1.3em; }
    #gallery .group-1 {
      width: 77.864583333333%; }

  figure {
    position: relative;
    float: left;
    height: 30%; }
    figure img {
      position: absolute;
      top: 50%;
      left: 50%; }
    figure .mobile-hide {
      display: none; }
    figure .icon-dots {
      position: absolute;
      bottom: 10px;
      right: 20px;
      z-index: 2; }
    figure h4 {
      display: none; }

  .razors {
    height: 0; }

  .razor-C .caption, .razor-D .caption {
    padding-left: 40%; }

  .razor-A, .razor-B, .razor-C {
    padding-bottom: 33.4448160535%; }

  .razor-D, .razor-E, .razor-F {
    padding-bottom: 25.390625%; }

  .razor-A {
    width: 28.428093645485%; }
    .razor-A img {
      transform: translate(-50%, -50%) rotate(78deg); }
    .razor-A .caption {
      padding-bottom: 117.6470588235%; }

  .razor-B {
    width: 26.421404682274%; }
    .razor-B img {
      transform: translate(-50%, -50%) rotate(75deg); }
    .razor-B .caption {
      padding-bottom: 126.582278481%; }

  .razor-C {
    width: 45.150501672241%; }
    .razor-C img {
      transform: translate(-50%, -50%) rotate(-15deg); }
    .razor-C .caption {
      padding-top: 9%;
      padding-bottom: 74.0740740741%; }

  .razor-D {
    clear: both;
    width: 42.70833333%; }
    .razor-D img {
      transform: translate(-50%, -50%) rotate(-15deg); }
    .razor-D .caption {
      padding-top: 10%;
      padding-bottom: 58.9665653495%; }

  .razor-E, .razor-F {
    width: 28.64583333%; }
    .razor-E img, .razor-F img {
      transform: translate(-50%, -50%) rotate(75deg); }
    .razor-E .caption, .razor-F .caption {
      padding-bottom: 88.1818181818%; }

  .slideshow {
    width: 90%; }

  footer {
    position: relative;
    padding: 5%;
    background-color: #515454; }
    footer .logo {
      display: inline-block;
      position: relative;
      width: 21.628498727735%; }
    footer ul {
      padding: 0; }
      footer ul li {
        display: inline-block; }
    footer .legal {
      display: inline-block;
      width: 78%;
      text-transform: uppercase;
      text-align: right;
      font-weight: 200; }
      footer .legal li {
        padding-left: 2%;
        font-size: 1.5em;
        font-weight: 300; }
      footer .legal li a {
        text-decoration: none; }
    footer p {
      display: inline-block; }
    footer .social {
      display: inline-block;
      position: relative;
      width: 100%;
      text-align: center; }
      footer .social li {
        margin: 0 1%; }
      footer .social a {
        color: #fff;
        font-size: 5rem;
        text-decoration: none; }
        footer .social a:hover {
          color: #72fdd4; }
    footer p {
      width: 100%;
      font-weight: lighter;
      margin: 0;
      text-align: center;
      padding-bottom: 20px; } }
@media only screen and (min-width: 1366px) {
  header {
    width: 22.1815519766%;
    height: 0;
    padding-bottom: 23.041667% !important; }

  .header-container {
    height: auto !important; }

  .caption {
    height: 100%; }

  .group-1, .razors, .group-2 {
    height: 0; }

  .group-1 {
    width: 77.8916544656%;
    padding-bottom: 23.1332357247%; }
    .group-1 .razor-A {
      float: left;
      width: 28.3160865475%;
      padding-bottom: 72.2483537159%; }
      .group-1 .razor-A img {
        width: 177%; }
      .group-1 .razor-A .caption {
        padding-top: 103%;
        padding-bottom: 255.1495016611%; }
    .group-1 .razor-B, .group-1 .razor-C {
      padding-bottom: 29.727187206%; }
    .group-1 .razor-B {
      width: 28.6923800564%; }
      .group-1 .razor-B .caption {
        padding-top: 22.5%;
        height: 100%; }
    .group-1 .razor-C {
      width: 42.8974600188%; }
      .group-1 .razor-C .caption {
        height: 100%; }

  .by-line_med {
    width: 77.8184480234%;
    height: 0;
    padding-bottom: 13.6896046852%;
    float: right; }

  .group-2 {
    float: left;
    width: 77.8916544656%;
    padding-bottom: 20.8638360176%; }
    .group-2 .caption {
      padding-top: 20%; }
    .group-2 .razor-D {
      width: 43.0856067733%; }
      .group-2 .razor-D .caption {
        padding-top: 12%;
        padding-bottom: 45.6331877729%; }
    .group-2 .razor-E {
      width: 28.3160865475%; }
      .group-2 .razor-E .caption {
        padding: 60px 0 0 63px;
        padding-bottom: 69.4352159468%; }
    .group-2 .razor-F {
      width: 28.5983066792%; }
      .group-2 .razor-F .caption {
        padding-bottom: 72.0394736842%; }

  .razor-D, .razor-E, .razor-F {
    padding-bottom: 24.9294449671%; } }
.cta {
  margin-bottom: 40px; }
  .cta h4 {
    margin: 0 auto;
    background-color: #727376;
    border: 2px solid #727376;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 20px;
    width: 200px;
    font-weight: 400; }
  .cta a {
    background-color: #727376;
    text-decoration: none;
    color: #fff; }
    .cta a :hover {
      background-color: transparent;
      border: 2px solid #727376;
      color: #727376; }

.page-grooming-tips .header-container {
  position: relative;
  height: auto;
  float: left;
  width: 100%; }
  @media (min-width: 768px) {
    .page-grooming-tips .header-container {
      height: 240px; } }
  .page-grooming-tips .header-container .by-line_med {
    width: 70%;
    float: left;
    padding: 20px;
    height: 100% !important; }
    .page-grooming-tips .header-container .by-line_med a {
      float: left;
      line-height: 200px; }
      @media (min-width: 768px) {
        .page-grooming-tips .header-container .by-line_med a {
          width: 30%; } }
      @media (min-width: 1366px) {
        .page-grooming-tips .header-container .by-line_med a {
          position: relative;
          padding: 100px; } }
      @media (min-width: 1366px) {
        .page-grooming-tips .header-container .by-line_med a img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%); } }
    .page-grooming-tips .header-container .by-line_med .copy {
      float: left;
      padding-left: 40px;
      width: 70%;
      padding-top: 20px; }
      @media (min-width: 1366px) {
        .page-grooming-tips .header-container .by-line_med .copy {
          padding-top: 70px; } }
      .page-grooming-tips .header-container .by-line_med .copy h1 {
        margin-bottom: 0;
        font-size: 2.5em;
        font-variant: small-caps;
        font-weight: 300; }
      .page-grooming-tips .header-container .by-line_med .copy h4 {
        margin: 0;
        padding-right: 10%;
        font-weight: 300;
        font-size: 1.3em; }
      .page-grooming-tips .header-container .by-line_med .copy .logo-1 {
        width: 28%;
        padding-left: 40px; }
.page-grooming-tips .content {
  width: 100%;
  height: 150px;
  color: white;
  line-height: 2;
  font-size: 30px;
  color: #434344;
  overflow: hidden;
  transition: .3s;
  display: block; }
  .page-grooming-tips .content .content-copy {
    width: 80%;
    float: right;
    position: relative;
    padding-right: 10px; }
    @media (min-width: 768px) {
      .page-grooming-tips .content .content-copy {
        width: 60%;
        margin-right: 10%; } }
    @media (min-width: 1366px) {
      .page-grooming-tips .content .content-copy {
        margin-right: 16%; } }
  .page-grooming-tips .content h1 {
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 25px; }
    .page-grooming-tips .content h1.cleansing {
      padding-top: 52px; }
.page-grooming-tips .content-section p {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 5%;
  float: right;
  opacity: 0;
  font-weight: 100;
  transition: .25s ease; }
.page-grooming-tips .content-image {
  width: 50%;
  float: left;
  position: relative; }
  .page-grooming-tips .content-image img {
    top: 16px;
    position: absolute; }
    .page-grooming-tips .content-image img#splash {
      width: 260px;
      left: -208px; }
      @media (min-width: 768px) {
        .page-grooming-tips .content-image img#splash {
          width: 360px;
          left: -122px; } }
    .page-grooming-tips .content-image img#cream {
      width: 105px;
      left: -48px; }
      @media (min-width: 768px) {
        .page-grooming-tips .content-image img#cream {
          width: 205px;
          left: 3px; } }
    .page-grooming-tips .content-image img#razor {
      width: 95px;
      left: -42px; }
      @media (min-width: 768px) {
        .page-grooming-tips .content-image img#razor {
          width: 195px;
          left: 2px; } }
.page-grooming-tips .content.expand {
  height: auto;
  min-height: 350px;
  width: 100%;
  transition: 1s; }
  .page-grooming-tips .content.expand .content-copy p {
    opacity: 1; }
.page-grooming-tips .cleansing-section {
  background-image: -moz-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%);
  background-image: -webkit-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%);
  background-image: -ms-linear-gradient(90deg, #d4fdfa 0%, #effaf9 0%, #f8f9f9 50%, #d4fdfa 100%); }
.page-grooming-tips .applying-shaving-cream-section {
  background-color: #93f8e2;
  width: 100%; }
.page-grooming-tips .shaving-techniques-section {
  background-image: -moz-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  background-image: -webkit-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  background-image: -ms-linear-gradient(90deg, #e9fbf9 0%, white 50%, #e9fbf9 100%);
  width: 100%; }

* {
  box-sizing: border-box; }

html {
  color: #93fce5; }

body {
  font-family: 'Lato', sans-serif; }

section, footer {
  width: 100%; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.icon {
  color: #515454;
  font-size: 3.25em;
  display: inline-block; }

header {
  display: block;
  position: relative;
  background-color: #000;
  font-family: Lato, sans-serif;
  color: #fff; }

.icon-box {
  position: absolute;
  right: 65px;
  top: 10px;
  display: inline;
  color: #fff;
  font-size: 40px;
  margin: 5px; }
  .icon-box:hover {
    color: #72fdd4; }

nav {
  text-transform: uppercase;
  padding-left: 40px;
  line-height: 1.2em; }
  nav ul li a {
    font-size: 14px;
    font-weight: 400; }
    nav ul li a:hover {
      color: #72fdd4; }
      nav ul li a:hover:before {
        content: '';
        position: absolute;
        top: -56px;
        left: -213px;
        border-top: 75px solid transparent;
        border-right: 65px solid white;
        width: 10%;
        height: 10%;
        background-color: white;
        transform: rotate(45deg);
        transform-origin: 21% 65%;
        z-index: -1; }

#categories a {
  text-decoration: none; }

#membership {
  display: inline-block;
  padding: 0;
  width: 100%; }
  #membership li {
    font-size: 16px;
    font-weight: 300;
    display: inline-block; }
    #membership li a {
      text-decoration: none; }
  #membership span {
    margin: 0 5px; }

#gallery {
  background-image: url(../img/background_pattern.png);
  background-repeat: no-repeat;
  background-size: contain; }

figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out; }
  figure .back {
    height: 0;
    padding-bottom: 100%; }
    figure .back img {
      opacity: .1;
      z-index: 0; }
  figure img {
    width: 75.5%;
    display: inline-block;
    opacity: 1; }
  figure h4, figure h5, figure h2, figure p {
    color: #515454; }
  figure p {
    font-size: .8em; }
  figure h4 {
    font-weight: bold; }
  figure .icon {
    display: inline; }
    figure .icon:hover {
      color: #3BA9A9; }
  figure .icon-dots, figure .icon-view, figure .icon-add {
    font-size: 3em;
    text-decoration: none;
    z-index: 999; }
  figure .caption {
    position: absolute;
    background-color: rgba(49, 213, 232, 0.8);
    height: 100%;
    z-index: 1;
    padding: 15% 0 0 30%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.25s ease; }
    figure .caption.active {
      opacity: 1; }
    @media (min-width: 768px) {
      figure .caption {
        height: 0; } }

.razor-F, .razor-B {
  background: -webkit-linear-gradient(#71eefd, #94f5f9, #71eefd);
  background: linear-gradient(#71eefd, #94f5f9, #71eefd); }

.razor-E, .razor-C {
  background: -webkit-linear-gradient(#71fdf5, #93fce5, #71fdf5);
  background: linear-gradient(#71fdf5, #93fce5, #71fdf5); }

.razor-D, .razor-A {
  background: -webkit-linear-gradient(#71fdd4, #9cfae9, #71fdd4);
  background: linear-gradient(#71fdd4, #9cfae9, #71fdd4); }

#carousel {
  clear: both;
  color: #515454;
  padding: 25px 6.25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70px;
  background-image: url(../img/backgroundWave.png); }
  #carousel .icon-arrowleft a:hover, #carousel .icon-arrownext a:hover {
    color: #09BA93; }
  #carousel h1 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase; }
  #carousel .slideshow {
    text-align: center;
    display: block;
    margin: 0 auto; }
    #carousel .slideshow .icon-razors {
      margin: 0 auto;
      font-size: 13rem;
      color: #727376; }
    #carousel .slideshow h3 {
      font-size: 23px;
      font-weight: 200;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 40px; }
